.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color:black;
}
body{
    background-color: cover;
}
.div_speed{
    float: left;
}
.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}
.div_volumen{
    float: right;
}
.div_volumen_img{
    width: 200px;
    border-radius: 100px;
}
#volumen{
    font-size: 23px;
    margin: 15px;
}
.play_button{
    width: 130px;
    font-size: 20px;
}
canvas{
    border: 5px solid rgb(29, 42, 59);
    border-radius: 20px;
}